<div ng-controller="SignUpController">
	<nav class ="navbar navbar-default navbar-fixed-top" id="navBar" style="background-image: url(images/res/bg_4.jpg);">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-icon" href="index.php"><img src="images/logo.png" alt="logo"></a>
			</div>
		
			<div class="collapse navbar-collapse" id="homeNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/" id="colorHover" role="button"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li><a href="#/#aboutUs" role="button" ng-click="scrollTo('aboutUs')"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
					<li><a href="#/signup" id="colorHover"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="page-header" id="content">
		<div class="container" id="content">
			<div class="col-lg-3"></div>
			<div class="col-lg-6" align="center">
				<img src="images/alt.png" class="img-responsive">
				<div class="row" id="content">
					<div class="col-lg-4">
						<a class="btn btn-info" role="button" ng-click="scrollTo('student_signup')"><h4>I am a Student.</h4></a>
					</div>
					<div class="col-lg-2"></div>
					<div class="col-lg-4">
						<a class="btn btn-primary" role="button" ng-click="scrollTo('prof_signup')"><h4>I am a Professor.</h4></a>
					</div>
					<div class="col-lg-2"></div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
		
	<section class="no-margin" id="student_signup">	
		<div class="row">
			<h2 align="center"> Student Sign Up </h2>
			<div class="col-lg-2"></div>
			<div class="col-lg-4">
				<form role="form">
					<div class="form-group">
						<label for="studno"> Student No.: </label>
						<input type="number" class="form-control" id="studno" ng-model="info.studno">
					</div>
					<div class="form-group">
						<label for="fname"> Firstname: </label>
						<input type="text" class="form-control" id="fname" ng-model="info.fname">
					</div>
			
					<div class="form-group">
						<label for="lname"> Lastname: </label>
						<input type="text" class="form-control" id="lname" ng-model="info.lname">
					</div>
					<div class="form-group">
						<label for="course"> Course: </label>
						<input type="text" class="form-control" id="course" ng-model="info.course">
					</div>
					<div class="form-group">
						<label for="college"> College: </label>
						<input type="text" class="form-control" id="college" ng-model="info.college">
					</div>
					<div class="form-group">
						<label for="contact_no"> Contact no.: </label>
						<input type="number" class="form-control" id="contact_no" ng-model="info.contactno">
					</div>
					<div class="form-group">
						<label for="email"> NEU Email: </label>
						<input type="text" class="form-control" id="email" placeholder="fmlastname@neu.edu.ph" ng-model="info.email">
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="start_date">Password: </label>
								<input type="password"  class="form-control" id="pwd" ng-model="info.password">
							</div>
						</div>
						<div class="col-lg-2"></div>	<div class="col-lg-6">
							<div class="form-group">
								<label for="start_date">Confirm Password: </label>
								<input type="password"  class="form-control" id="rpwd" ng-model="info.confpassword">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4">
				<form role="form" id="company">
					<div class="form-group">
						<label for="company_name"> Company Name: </label>
						<input type="text" class="form-control" id="company_name" ng-model="info.compname">
					</div>
					<div class="form-group">
						<label for="company_address"> Company Address: </label>
						<input type="text" class="form-control" id="company_address" ng-model="info.compadd">
					</div>
					<div class="form-group">
						<label for="company_address"> Department Assigned: </label>
						<input type="text" class="form-control" id="company_address" ng-model="info.deptass">
					</div>
					<div class="form-group">
						<label for="contact_person">Contact Person: </label>
						<input type="text" class="form-control" id="contact_person" ng-model="info.conperson">
					</div>
					<div class="form-group">
						<label for="cp_contact_no"> Contact Person's Contact no.: </label>
						<input type="number" class="form-control" id="cp_contact_no" ng-model="info.cpcontactno">
					</div>
					<div class="form-group">
						<label for="cp_email"> Contact Person's Email: </label>
						<input type="text" class="form-control" id="cp_email" ng-model="info.cpemail">
					</div>
					<div class="row">
						<div class="col-lg-12">
							<label for="training_period"> Training Period: </label>
						</div>
						<div class="col-lg-5">
							<div class="form-group">	
								<input type="date"  class="form-control" id="start_date" ng-model="info.startdate">
							</div>
						</div>
						<div class="col-lg-2" align="center"><h4>to</h4></div>	
						<div class="col-lg-5">
							<div class="form-group">
								<input type="date"  class="form-control" id="end_date" ng-model="info.enddate">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="hours">Total OJT Hours Required: </label>						
						<input type="number"  class="form-control" id="start_date" ng-model="info.hoursrequired">
					</div>
					</div>
				</form>
			<div class="col-lg-2"></div>	
		</div>
		<div class="row">
			<div class="col-lg-12" align="center">
				<button type="submit" class="btn btn-primary" ng-click="studSignUp()"><h4>Save</h4></button>
			</div>
	</div>
	</section>


		
	<section class="no-margin" id="prof_signup">	
		<div class="row">
		<h2 align="center"> Faculty Sign Up </h2>
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<form role="form" id="faculty">
					<div class="form-group">
						<label for="empno"> Faculty ID No.: </label>
						<input type="number" class="form-control" id="empno">
					</div>
					<div class="form-group">
						<label for="fname"> Firstname: </label>
						<input type="text" class="form-control" id="fname">
					</div>
					<div class="form-group">
						<label for="lname"> Lastname: </label>
						<input type="text" class="form-control" id="lname">
					</div>
					<div class="form-group">
						<label for="program"> Program Supervised: </label>
						<input type="text" class="form-control" id="program">
					</div>
				</form>
			</div>
			<div class="col-lg-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-12" align="center">
				<button type="submit" class="btn btn-primary"><h4>Save</h4></button>
			</div>
		</div>
	</section>
</div>